@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&display=swap');

:root {
    --background-sand: #F8F1E5;
    --navy: #1A2B40;
    --navy-light: #748CAB;
    --orange: #D35400;

    --fuente-texto: 'Open Sans', sans-serif;
    --fuente-titulos: 'Montserrat', sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.left-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001f3f;
    color: #fff;
    height: 100vh;
}

.left-container-logo {
    max-width: 60%; 
    height: auto;
}

.right-container {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #f8f9fa; 
    padding: 0;
    margin: 0;
    height: 100vh;
}

/* 
.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: red;
}


.left-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navy);
}

.left-container-logo {
    width: 12rem;
}

.right-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-sand);
    padding: 40px; 
}

form {
    width: 100%; 
    max-width: 400px; 
}

.form-control:focus {
    border-color: var(--orange); 
    box-shadow: 0 0 5px var(--orange); 
    outline: none;
} 
 */
