:root {
    --background-sand: #F8F1E5;
    --background-sand1:   #E8E2D6;
    --background-sand2:   #DBD5CA;
    --background-sand3:   #CCC6BC;
    --navy: #1A2B40;
    --navy-medium: #404E66;
    --navy-light: #748CAB;
    --orange: #D35400;
  
    --fuente-texto: 'Open Sans', sans-serif;
    --fuente-titulos: 'Montserrat', sans-serif;
  }


.big-div {
    display: flex;
    height: 100vh;
}

.left-div {
    flex: 1;
    background-color: var(--navy-medium);
    align-items: center;
}

.left-div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.white-logo {
    height: 50%;
}

.custom-card-password {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }


  .custom-card-password:hover {
      transform: translateY(-10px); 
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); 
  }

  .custom-card-password:active {
      transform: translateY(-5px) scale(0.98);
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }

.right-div {
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}