:root {
  --background-sand: #F8F1E5;
  --navy: #1A2B40;
  --navy-medium: #2D3748;
  --navy-light: #748CAB;
  --orange: #D35400;

  --fuente-texto: 'Open Sans', sans-serif;
  --fuente-titulos: 'Montserrat', sans-serif;
}
.sidebar {
  background-color: var(--navy-light);
  margin-left: 0;
  padding-left: 0;
  color: white;
}


.sidebar-ul {
  background-color: var(--navy-light); 
  margin-left: 0;
  padding-left: 0;
  color: white;
}

.nav-link {
  color: white;
}

.sidebar .nav-link:hover {
  background-color: white;
  color: var(--orange);
}

ul {
  list-style-type: none;
}

.content {
  margin-left: 0;
  transition: margin-left 0.3s;
}

/* .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #343a40;
    padding-top: 60px;
    display: none;
  }
  
  .sidebar.open {
    display: block;
  }
  
  
  .content.with-sidebar {
    margin-left: 250px;
  }
  
  .navbar-toggler {
    border: none;
  } */